<%- include('../partials/header.ejs')%>
<form action = "/login" method ="POST"> 
    <br><label for="firstName">First Name</label>
        <input type="text" id="firstName" name="firstName" value="" required><br>
        <br><label for="lastName">Last Name</label>
        <input type="text" id="lastName" name="lastName" value=""required><br>
        <br><label for="email">Email</label>
        <input value="" type="text" id="email" name="email"required><br>
        <br><label for = "password" >Password</label>
        <input type="password" name="password" id="password" maxlength="64" value=""required><br>
        <div class = "center">
        <button class="homePage3">Create Connection</button><br><br>
    </div>
    </form> 
<%- include('../partials/footer.ejs')%>
<style>



    header{
        font-family: sans-serif;
        text-align: center;
        color: #424240;
        font-weight: bold;
        border:10px solid #b6a47f;
        background-color: #BAD2EC;
    
            
            
    }
    footer{
        color: #424240;
        font-family: sans-serif;
        position:absolute;
        bottom:0;
        width:100%;
        height:60px;   /* Height of the footer */
        background:#BAD2EC;
        text-align: center;
       
    }
    h1, h2, h3
    {
        text-align: center;
    }
    nav
    {
        font-family: sans-serif;
        text-align: center;
        font-weight: bold;
        font-size: 110%
        
    }
    a
    {
        text-decoration: none;
        color: #030c02;
    }
    a:hover
    {
        text-decoration: overline underline;
    }
    </style>
